@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Lora', serif;
    font-size: 1.22rem;
}
h1, h2, h3, h4, h5 {
    font-family: 'Abril Fatface', cursive;
}
p{
    font-size: 1.2rem;
}
a{
    color: black; 
    
}
a:hover{
    text-decoration: none; 
}

header.masthead {
    background-image: url(../images/cape.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

h1.type-writer {
  padding-left: 22%;  
}


.title-space {
    margin: 100px 0px;
}



.content-space {
    margin-top: 90px;
    padding-bottom: 90px;
}

.content-space-last{
    margin-top: 90px;
    padding-bottom: 40px;
}

.secondary {
    padding: 0;
    background-color: rgb(240, 240, 240);
}
.black-text {
    color: rgb(36, 36, 36) !important;
}
.black-bg {
    background-color: rgb(36, 36, 36);
}
.pink-bg {
    background-color: rgba(255, 214, 227, 1);
}
.white-text{
    color:white;
}

.pink-text{
    color: rgba(255, 214, 227, 1);
}
.fourth {
    padding: 0;
    background-color: #5D4E60;
}
.dark-background{
    background-color: rgba(138, 138, 138, 0.411);
}
.navbar{
    background-color: rgb(36, 36, 36) !important;

    padding: 2rem 0rem !important;
}
.navbar-brand {
    color: #FFD6E3 !important;
}
.navbar-brand:hover {
    color: rgb(255, 179, 203) !important;
}
.nav-link {
    color: #FFD6E3 !important;
    font-size: 1.2rem;
    
}
.nav-link:hover {
    color: rgb(255, 179, 203) !important;
}
.navbar-toggler{
    color: #FFD6E3 !important;
}
.dropdown-menu {
    background-color: rgb(36, 36, 36) !important;
    border: none;
}
.dropdown-item {
    color: #FFD6E3 !important;
    font-size: 1.2rem;
}
.dropdown-item:hover {
    background-color: rgb(36, 36, 36) !important;
    color: rgb(255, 179, 203) !important;
}

.centered {
    padding-left: 8rem;
    padding-right: 8rem;
}
.card {
    border: none;
}
.card-img{
    object-fit: fill;
}

.para-space{
    height: 70vh;
}

.footer-light {
    display: flex;
    align-items: center;
    background-color: rgba(255, 214, 227, 1); 
    color: rgb(36, 36, 36);
    height: 5vh;
}

.footer-dark {
    display: flex;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: rgba(255, 214, 227, 1); 
    height: 5vh;
}

.contact-space{
    height: 120vh;
}

.contact-bg{
    background-color: rgba(255, 214, 227, 0.8) !important;
    border-radius: 20px;
    overflow: hidden;
}
#para {
    background: url("images/threads-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#para-two {
    background: url("images/bobbins-min\ .jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background: url("images/draw-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.break {
    word-wrap: break-word;
}
.contact-card {
    margin-bottom :30px;
}

.list {
    list-style: none;
}

.list li  {
    padding: 1.1rem 1rem 0rem 1rem;
}

.left-img {
    padding: 0 0.8rem 0 0;
}
.right-img {
    padding: 0 0 0 0.8rem;
}

#myBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 35px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: rgb(36, 36, 36); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
  }
  
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: #FFD6E3;
    transform: scale(1.1);
  }